ADDRESS_BOOK_POSTGRES_USER=
ADDRESS_BOOK_POSTGRES_PASSWORD=
ADDRESS_BOOK_POSTGRES_DB=
ADDRESS_BOOK_POSTGRES_HOST=
ADDRESS_BOOK_POSTGRES_PORT=
ADDRESS_BOOK_POSTGRES_DATABASE_URL=jdbc:postgresql://address-book-postgres:5432//AddressBookDB